
@using KimThanh.Controllers
@model ChoXuLyBanHangController.PrintXepHang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>In Danh Sách Lưu Phiếu</title>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:site_name" content="" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fonts/Averta/font.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/scss/style.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fontawesome/css/all.css" />
    <style>
        body {
            font-family: "Times New Roman";
        }

        .table-pnk {
            font-size: 180.50% !important;
        }

        #square {
            max-width: 75%;
            border: 1px solid #212529;
            padding: 10px;
            margin: 2px;
        }

        #square2 {
            max-width: 45%;
            border: 1px solid #212529;
            padding: 15px;
            margin-left: 140px;
        }


        @@media print {
            thead, tfoot {
                display: table-row-group;
            }
        }
    </style>
</head>
<body>
    <main class="wrapper">
        <div>
            <div class="note__header">
                <div class="note__header--time">
                </div>
                <div class="note__header--title">
                    <h2 style="font-size:250.25%;" class="title">Danh Sách Lưu Phiếu</h2>
                </div>
                <div class="note__header--time">
                </div>
            </div>
            <div class="note__body">
                <div class="note__body--header">
                    <div class="left">
                        <p style="font-size: 130.50%" class="des">@DateTime.Now.ToString("dd/MM/yyyy HH:ss:mm") - @Model.MaNhanVien</p>
                    </div>
                </div>
                <div class="note__body--table">
                    <div class="wrap-height-table table-responsive">
                        <table class="table-pnk display"
                               id="table-phieu-xuat-kho"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width:5%;">STT</th>
                                    <th style="width:5%;">T.Gian</th>
                                    <th style="width:10%;">Mã đơn</th>
                                    <th style="width:10%;">Tên KH</th>
                                    <th style="width:25%">Ghi chú</th>
                                    <th style="width:10%;">Số tiền</th>
                                    <th style="width:10%;">NV tạo</th>
                                    <th style="width:20%">Ghi chú phụ</th>
                                    <th style="width:5%;">KT</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int STT = 0;
                                    var cul = new System.Globalization.CultureInfo("vi-VN");
                                    foreach (var item in Model.ChiTiet)
                                    {
                                        var thanhtien = (double)item.TONGTIEN;
                                        <tr>
                                            <td>@(++STT)</td>
                                            <td style="text-align: left;">@item.NGAYHD.ToString("dd/MM")</td>
                                            <td>@item.BHDCODE</td>
                                            <td>@item.KHTEN</td>
                                            <td style="white-space:normal; text-align: left;">@item.DIENGIAI</td>
                                            <td style="text-align:right;">@String.Format(cul, "{0:N0}", thanhtien)</td>
                                            <td style="white-space:normal;">@item.NVCODE</td>
                                            <td style="white-space:normal; text-align: left;">@item.GHICHUPHU</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="note__footer">
                <p style="font-size: 180.50%" class="text">
                    Tên NV kiểm tra:
                </p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/App_Themes/js/moment.js"></script>
    <script src="~/App_Themes/js/jquery.js"></script>
    <script src="~/PageScript/MatHang/jquery-barcode.js"></script>
    <script src="~/App_Themes/js/qrcode.js"></script>
    @*<script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {
            window.print();
        })
    </script>
</body>
</html>
