@using KimThanh.Controllers
@model PhieuNhapKhoController.PrintMHDModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>In Phiếu Nhập Kho</title>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:site_name" content="" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fonts/Averta/font.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/scss/style.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fontawesome/css/all.css" />
    <style>
        body {
            font-family: "Times New Roman";
        }
        .test {
            font-size: 180.50%;
            word-wrap: break-word;
        }
        .table-pnk {
            font-size: 180.50% !important;
        }
        #square {
            max-width: 75%;
            border: 1px solid #212529;
            padding: 10px;
            margin: 2px;
        }
        @@media print {
            thead, tfoot {
                display: table-row-group;
            }
        }
    </style>
</head>
<body>
    <main class="wrapper">
        <div>
            <div class="note__header">
                <div class="note__header--time">
                    @*<img src="/App_Themes/export/images/qrcode.png" alt="img-qrcode" class="img-qrcode" />*@
                    <div class="img-qrcode" id="qrcode"></div>
                    <div style="margin-left: 8%;" class="detail">
                        <p class="text-time">
                            <span style="font-size: 130.50%" class="date">@Model.Detail.NGAYHD.Value.ToString("dd/MM/yyyy")</span>
                        </p>
                        <p>
                            <span style="font-size: 130.50%" class="clock">@Model.Detail.NGAYHD.Value.ToString("HH:mm")</span>
                        </p>
                        <p  style="font-size: 180.50%" class="text-code" id="bhdcode">@Model.Detail.MHDCODE</p>
                    </div>
                </div>
                <div class="note__header--title">
                    <h2 style="font-size:250.25%;"  class="title">Phiếu Nhập Kho</h2>
                </div>
                <div class="note__header--box">
                    <p class="text" style="font-size: 200.50%">@Model.Detail.DIENGIAI</p>
                    <p  style="font-size: 180.50%" class="code">@Model.Detail.NGAYHD.Value.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <div class="note__body">
                <div class="note__body--header">
                    <div class="left">
                        <p style="font-size: 130.50%;text-align:center;" id="square"><b>@Model.TenShowRoom</b></p>
                        <p style="font-size: 130.50%" class="des">Nhà cung cấp: <b style="font-size:116%">@Model.Detail.KHTEN</b></p>
                    </div>
                    <div class="right">
                        <p style="font-size: 130.50%" class="name">@Model.Detail.NVCODE</p>
                    </div>
                </div>
                <div class="note__body--table">
                    <div class="wrap-height-table table-responsive">
                        <table class="table-pnk display"
                               id="table-phieu-xuat-kho"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th  style="width:2%;">STT</th>
                                    <th  style="width:2%;">Vị trí</th>
                                    <th  style="width:12%;">Mã hàng</th>
                                    <th  style="width:30%;">Tên hàng</th>
                                    <th  style="width:4%;">ĐVT</th>
                                    <th  style="width:4%;">SL</th>
                                    <th style="width:26%; min-width:26%;max-width:46%;">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int STT = 0;
                                    int TongSL = 0;
                                    var cul = new System.Globalization.CultureInfo("vi-VN");
                                    foreach (var item in Model.DSMH)
                                    {
                                        var sl = (int)item.SOLUONG;
                                        TongSL += sl;
                                        <tr>
                                            <td>@(++STT)</td>
                                            <td>@item.ViTri</td>
                                            <td style="text-align: left;">@item.MHCODE</td>
                                            <td style="text-align: left;">@item.MHTEN</td>
                                            <td>@item.DONVI</td>
                                            <td>@String.Format(cul, "{0:N0}", sl)</td>
                                            <td style="white-space:normal; text-align: left;">@item.GHICHU</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th  style="font-size: 120%;" colspan="5">Tổng SL</th>
                                    <th  style="font-size: 140%;">@String.Format(cul, "{0:N0}", TongSL)</th>
                                    <th> </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/App_Themes/js/moment.js"></script>
    <script src="~/App_Themes/js/jquery.js"></script>
    <script src="~/PageScript/MatHang/jquery-barcode.js"></script>
    <script src="~/App_Themes/js/qrcode.js"></script>
    @*<script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(async function () {
            var qrcode = new QRCode("qrcode", {
                width: 100,
                height: 100,
            });
            var elText = $("#bhdcode")[0].innerHTML
            qrcode.makeCode(elText)
            window.print()
        })
    </script>
</body>
</html>
