@using KimThanh.Controllers
@model BanHangController.PrintBHDModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>In Bán Hóa Đơn</title>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:site_name" content="" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fonts/Averta/font.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/scss/style.css" />
    <link rel="stylesheet" type="text/css" href="/App_Themes/export/css/fontawesome/css/all.css" />
    <style>
        body {
            font-family: "Times New Roman";
        }

        .table-pnk {
            font-size: 180.50% !important;
        }

        #square {
            max-width: 66%;
            border: 1px solid #212529;
            padding: 10px;
            margin: 2px;
        }

        #square2 {
            max-width: 35%;
            border: 1px solid #212529;
            margin-left: 32%;
        }

        @@media print {
            thead, tfoot {
                display: table-row-group;
            }
        }
    </style>
</head>
<body>
    <main class="wrapper">
        <div>
            <div class="note__header">
                <div class="note__header--time">
                    @*<img src="/App_Themes/export/images/qrcode.png" alt="img-qrcode" class="img-qrcode" />*@
                    <div><img width="100" height="100" src="@Model.LinkQrCode" alt=""></div>
                    <div style="margin-left: 1%;" class="detail">
                        <p class="text-time">
                            <span style="font-size: 130.50%" class="date">@Model.CHITIET.NGAYHD.Value.ToString("dd/MM/yyyy")</span>
                        </p>
                        <p>
                            <span style="font-size: 130.50%" class="clock">@Model.CHITIET.NGAYHD.Value.ToString("HH:mm")</span>
                        </p>
                        <p style="font-size: 180.50%" class="text-code" id="bhdcode">@Model.CHITIET.BHDCODE</p>
                    </div>
                </div>
                <div class="note__header--title">
                    <h2 style="font-size:250.25%;" class="title">Phiếu Xuất Hàng</h2>
                    <p style="font-size: 180.50%" class="number">www.kimthanh.online</p>
                    @if (Model.CHITIET.SOLANIN > 1)
                    {
                        <p style="font-size: 180.50%" class="number">Số lần in: @Model.CHITIET.SOLANIN</p>
                    }

                </div>
                <div class="note__header--box">
                    <p style="font-size: 200.50%" class="text"><b style="font-size:116%"> @Model.CHITIET.DIENGIAI</b></p>
                    <p style="font-size: 180.50%" class="code">@Model.CHITIET.NGAYHD.Value.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <div class="note__body">
                <div class="note__body--header">
                    <div class="left">
                        <p style="font-size: 130.50%;text-align:center;" id="square"><b>@Model.TenShowRoom</b></p>
                        <p style="font-size: 130.50%" class="des">Khách hàng: <b style="font-size:116%">@Model.CHITIET.KHTEN</b></p>
                    </div>
                    <div class="right">
                        <p style="font-size: 130.50%" class="name">NV bán hàng: <b style="font-size:116%">@Model.CHITIET.NVCODE</b></p>
                        @if (Model.CHITIET.TRANGTHAI == 3)
                        {
                            <p style="font-size: 130.50%" class="name">NV thu ngân: <b style="font-size:116%">@Model.CHITIET.NHANVIENTHAOTAC</b></p>
                        }
                    </div>
                </div>
                <div class="note__body--table">
                    <div class="wrap-height-table table-responsive">
                        <table class="table-pnk display"
                               id="table-phieu-xuat-kho"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width:1%;">STT</th>
                                    <th style="width:30%;">Tên hàng</th>
                                    <th style="width:5%;">ĐVT</th>
                                    <th style="width:5%;">SL</th>
                                    <th style="width:8%;">Đơn giá</th>
                                    <th style="width:12%;">Thành tiền</th>
                                    <th style="width:20%; min-width:20%;max-width:40%;">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int STT = 0;
                                    int TongSL = 0;
                                    double TongTT = 0;
                                    var cul = new System.Globalization.CultureInfo("vi-VN");
                                    foreach (var item in Model.DSMH)
                                    {
                                        var sl = (int)item.SOLUONG;
                                        var dongia = (int)item.DONGIA;
                                        var thanhtien = (double)item.THANHTIEN;
                                        TongSL += sl;
                                        TongTT += thanhtien;
                                        <tr>
                                            <td>@(++STT)</td>
                                            <td style="text-align: left;">@item.MHTEN</td>
                                            <td>@item.DONVI</td>
                                            <td style="text-align:right;">@String.Format(cul, "{0:N0}", sl)</td>
                                            <td style="text-align: right;">@String.Format(cul, "{0:N0}", dongia)</td>
                                            <td style="text-align:right;">@String.Format(cul, "{0:N0}", thanhtien)</td>
                                            <td style="white-space:normal; text-align: left;">@item.GHICHU</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="font-size: 120%;" colspan="3">Tổng SL</th>
                                    <th style="font-size:140.25%;text-align:right ">@String.Format(cul, "{0:N0}", TongSL)</th>
                                    <th style="font-size: 120%;">Tổng tiền</th>
                                    <th style="font-size:140.25%; text-align:right " colspan="2">@String.Format(cul, "{0:N0}", TongTT)</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="note__footer">
                <div style="font-size: 180.50%">
                    @Model.NoiDung
                </div>
                <div class="note__footer--row">
                    <div class="box">
                        <p style="font-size: 125.50%" class="sign-name">Khách hàng</p>
                    </div>
                    <div class="box">
                        <p style="font-size: 125.50%" class="sign-name">Thu ngân</p>
                        @if (Model.CHITIET.TRANGTHAI == 3)
                        {
                            <div id="square2">
                                <p style="font-size: 125.50%; text-transform:uppercase" class="sign-name">đã thanh toán</p>
                                <p style="font-size: 125.50%; text-transform:uppercase" class="sign-name">@Model.CHITIET.NGAYTHANHTOAN</p>
                            </div>
                        }
                        @*else
                            {
                                <p style="font-size: 125.50%; text-transform:uppercase" class="sign-name">Chưa thanh toán</p>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/App_Themes/js/moment.js"></script>
    <script src="~/App_Themes/js/jquery.js"></script>
    <script src="~/PageScript/MatHang/jquery-barcode.js"></script>
    <script src="~/App_Themes/js/qrcode.js"></script>
    @*<script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {
            window.print();
        })
    </script>
</body>
</html>
